<div class="row">
  <div class="col s3">
    <div class="card small card-lateral">
      <div class="card-content">
        <img src="/assets/images/excluir.png" class="img-card">
        <h1 class="h1">Exclua um Produto</h1>
        <div class="col s12 itens-card">
          <img src="/assets/images/estrela.png" class="img-star">
          <p>Exclua o produto que não existe mais na sua despensa.</p>
          <img src="/assets/images/estrela.png" class="img-star">
          <p>Escolha o produto desejado e clique no botão EXCLUIR.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s9">
      <!-- <ng-container *ngIf="produtosCadastrados.length > 0; else nenhumProduto"> -->
        <p style="margin-top: 50px; margin-left: 20px;">Foram encontrados {{ produtosCadastrados.length }} produto(s): </p>
        <div class="card card-central grey lighten-3">
          <div class="container">
            <div class="card card-geral custom-margin" *ngFor="let produto of produtosCadastrados">
              <p class="items">Produto: {{ produto.nome }} </p>
              <p class="items">Marca: {{ produto.marca}} </p>
              <p class="items">Quantidade: {{ produto.quantidade}} {{produto.unidade}} </p>
              <!-- <div class="center-container"> -->
                <button (click)="openConfirmationDialog(produto)" class="btn btn-primary btn-card-princ-input" style="margin-top: 20px; margin-left: 40px">
                  <i class="material-icons-outlined left" >delete</i>Excluir</button>
              <!-- </div> -->
            </div>
          </div>
        </div>
      <!-- </ng-container> -->

    <div *ngIf="produtosCadastrados.length === 0">
      <p> Nenhum produto encontrado com o nome <span style="color: red; font-weight: bold;">{{ nomeProduto }}</span>.</p>
    </div>
  </div>
</div>
