<body class="grey lighten-3">
  <!-- <link rel="stylesheet" href="cadastro.component.css"> -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <h1 style="text-align: center;">PÁGINA EM CONSTRUÇÃO!</h1>
  <!-- <div class="row">
    <div class="col s3">
      <div class="card small card-lateral">
        <div class="card-content">
          <img src="/assets/images/registro.png" class="img-card">
          <h1 class="h1">Cadastre um Produto</h1>
          <div class="col s12 itens-card">
            <img src="/assets/images/estrela.png" class="img-star">
            <p>Cadastre todos os produtos que você tem na sua despensa, independente da categoria.</p>
            <img src="/assets/images/estrela.png" class="img-star">
            <p>Digite o nome e a marca.</p>
            <img src="/assets/images/estrela.png" class="img-star">
            <p>Escolha o local de armazenamento.</p>
            <img src="/assets/images/estrela.png" class="img-star">
            <p>Digite a quantidade e escolha a unidade.</p>
            <img src="/assets/images/estrela.png" class="img-star">
            <p>Escolha a data de validade.</p>
            <img src="/assets/images/estrela.png" class="img-star">
            <p>Selecione se a embalagem está aberta ou fechada.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <div class="card card-central">
          <div class="card-content">
            <div class="central-p">
              <p class="txt">Categoria:</p>
            </div>
            <div class="central-input">
              <select [(ngModel)]="opcaoSelecionada">
                <option *ngFor="let opcao of opcoes" [value]="opcao.valor">{{opcao.nome}}</option>
              </select>
            </div>
            <br>
            <div class="central-p">
              <p class="txt">Produto:</p>
            </div>
            <div class="central-input">
              <input class="validate browser-default" style="margin-left: 27px;" placeholder="Digite o nome do produto" id="nome" type="text">
            </div>
            <br>
            <div class="central-p">
              <p class="txt">Marca:</p>
            </div>
            <div class="central-input">
              <input class="validate browser-default" style="margin-left: 42px;" placeholder="Digite a marca do produto" id="marca" type="text">
            </div>
            <br>
            <div class="central-p">
              <p class="txt">Quantidade:</p>
            </div>
            <div class="central-input">
              <input class="validate browser-default" placeholder="Digite a quantidade" id="quantidade" type="text">
            </div>
            <br>
            <div class="central-p">
              <p class="txt">Unidade:</p>
            </div>
            <div class="r-button">
              <p>
                <label>
                  <input class="with-gap" name="group3" type="radio">
                  <span>KG</span>
                </label>
                <label>
                  <input class="with-gap" name="group3" type="radio">
                  <span>Litro(s)</span>
                </label>
                <label>
                  <input class="with-gap" name="group3" type="radio">
                  <span>Pacote(s)</span>
                </label>
                <label>
                  <input class="with-gap" name="group3" type="radio">
                  <span>Unidade(s)</span>
                </label>
                <label>
                  <input class="with-gap" name="group3" type="radio">
                  <span>Caixa(s)</span>
                </label>
              </p>
            </div>

            <div class="central-p">
              <p class="txt">Local de armazenamento:</p>
            </div>
            <div class="central-input">

            </div>

            <div class="central-p">
              <p class="txt">Estado da embalagem:</p>
            </div>
            <div class="central-input">

            </div>

            <div class="central-p">
              <p class="txt">Data de validade:</p>
            </div>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Escolha a data">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            </mat-form-field>
            <mat-dialog-content>
              <mat-datepicker #picker></mat-datepicker>
            </mat-dialog-content>
            <div class="central-input">

            </div>

            <div class="central-p">

            </div>
            <div class="central-input">

            </div>

          </div>
        </div>
      </div>
    </div>

  </div> -->
</body>
