body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}

.color{
  background-color: #074eab;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
