<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->

  <p class="txt-t1">Bem-vindo(a)!<br></p>
  <p class="txt-normal" style="text-align: center;">Hoje é {{dayOfWeek}}, {{formattedDate}}.</p>
  <p class="txt-normal">Neste aplicativo você poderá cadastrar, excluir, visualizar ou atualizar produtos
  que estão armazenados na sua despensa. <br></p>
  <p class="txt-normal">Em cada produto, terá informações como: a categoria, a marca, a quantidade armazenada,
  o local que está armazenado, a data de validade e se o produto está aberto ou fechado. <br></p>
  <p class="txt-normal">Basta clicar no botão que desejar e começar a interagir com seu aplicativo!</p>

  <div class="row">
      <div class="col s12 m6 l3">
        <div class="card card-princ">
          <img class="img-card-princ" src="assets/images/registro.png">
          <div class="card-content txt-card">
            <p>Clique no botão abaixo para cadastrar um produto.</p>
            <a routerLink="cadastro" class="btn btn-primary btn-card-princ" style="margin-top: 70px;">Adicionar</a>

            <!-- <button (click)="onButtonClick()" class="btn btn-primary btn-card-princ" style="margin-top: 70px;">Adicionar </button> -->
            <!-- <a href="/cadastro" class="btn btn-primary btn-card-princ" style="margin-top: 70px;">Adicionar</a> -->
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card card-princ">
          <img class="img-card-princ" src="assets/images/excluir.png">
          <div class="card-content txt-card">
            <p>Digite o produto que deseja excluir:</p>
            <input class="validate browser-default" style="margin-top: 20px; height: 30px;" value="Digite o produto" id="excluir" type="text">
            <a href="#" class="btn btn-primary btn-card-princ-input" style="margin-top: 20px;">Excluir</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card card-princ">
          <img class="img-card-princ" src="assets/images/visualizador.png">
          <div class="card-content txt-card">
            <p>Clique no botão abaixo para visualizar os produtos na lista de produtos.</p>
            <a routerLink="/visualizar" class="btn btn-primary btn-card-princ" style="margin-top: 50px;">Visualizar</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card card-princ">
          <img class="img-card-princ" src="assets/images/botao-atualizar.png">
          <div class="card-content txt-card">
            <p>Digite o produto que deseja atualizar:</p>
            <input class="validate browser-default" style="margin-top: 20px; height: 30px;" value="Digite o produto" id="excluir-princ" type="text">
            <a href="#" class="btn btn-primary btn-card-princ" style="margin-top: 20px;">Atualizar</a>
          </div>
        </div>
      </div>
</div>

