.header-color{
  background-color: #053a80;
}

.text-menu{
  font-size: 30px;
  color: #dbfc19;
}

.inicio{
  position: absolute;
  left: 10px;
  top:10px
}

.voltar{
  position: absolute;
  left: 80px;
  top:10px
}
