<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper header-color center-align">
      <span class="text-menu">Controle do Estoque na Despensa</span>
      <a *ngIf="isCadastro()" [routerLink]="['/cadastro']" (click)="voltar()" class="inicio">Início</a>
      <a *ngIf="isVisualizar()" [routerLink]="['/visualizar']" (click)="voltar()" class="inicio">Início</a>
      <a *ngIf="isDetalhes()" routerLink="/" class="inicio">Início</a>
      <a *ngIf="isDetalhes()" [routerLink]="['/detalhes/:nome']" (click)="voltar()" class="voltar">Voltar</a>
      <a *ngIf="isExcluir()" [routerLink]="['/excluir']" (click)="voltar()" class="voltar">Início</a>
      <a *ngIf="isAtualizar()" [routerLink]="['/atualizar']" (click)="voltar()" class="voltar">Início</a>
      <a *ngIf="isEditar()" routerLink="/" class="inicio">Início</a>
      <a *ngIf="isEditar()" [routerLink]="['/editar/:nome']" (click)="voltar()" class="voltar">Voltar</a>
    </div>
  </nav>
</div>

